
    <span>Установить дату</span>
    <input type="date" class="nativedatepicker" ng-model="MYnote_set_date" placeholder="Установить дату..." /><br />
    <span>Установить время</span>
    <input type="time" class="nativetimepicker" ng-model="MYnote_set_date" placeholder="Установить дату..." />

    <div class="buttonBottom">
        <button type="submit" value="save" ng-click="updateNote(MYID,MYnote_title, MYnote_text, MYnote_set_date);">iii</button>
        <button type="submit" value="save" ng-click="setNotify(MYID,MYnote_title, MYnote_text, MYnote_set_date);">Сохранить</button>
        <button ng-click="onBackKeyDown()" value="back">Назад</button>
    </div>
 <!--updateNote(MYID, MYnote_title, MYnote_text, MYnote_set_date);--> 