<div>
    <p class="headPage">Сегодня {{current_date}} ,<br /> Ближайшие дела: <br /></p>
    <div>
        <label>
            <input type="radio" ng-model="data.typeButton" value="Create" /> Create
        </label>
        <label>
            <input type="radio" ng-model="data.typeButton" value="headPage" /> headPage
        </label>
    </div>
</div>
<div class="notes" ng-repeat="item in array">
    <h2 id="title">{{item.title}}</h2><time>{{item.setDate}}</time>
    <p id="text">{{item.text}}</p>
    <a href="#" ng-click="deleteNote(item.id)" value="Удалить">Удалить</a>
    <!-- <p>{{item.id}}</p>-->
</div>