<section ng-controller="notesController" ng-init="initNotes()" ng-cloak>
<div ng-controller="sidenavCtrl" layout="column">
    <md-toolbar>
          <div class="md-toolbar-tools">
            <md-button ng-click="toggleLeft()" class="md-raised" >
                <i class="fa fa-bars" aria-hidden="true"></i>
            </md-button>

            <md-truncate>RemindMe</md-truncate>

            <span flex></span>
            <md-button  ng-click="data.typeButton = 'Delete'; addToHistory('Delete')" class="md-fab md-mini" aria-label="delete" ui-sref="delete" data-ui-sref-opts="{reload:true}"> 
              <i class="fa fa-trash" aria-hidden="true"></i>
            </md-button>
          </div>
    </md-toolbar>
  <section layout="row" flex>
    <md-sidenav  md-swipe-left="toggleLeft()" class="md-sidenav-left" md-component-id="left" md-disable-backdrop md-whiteframe="4">
      <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Hello, User!</h1>
      </md-toolbar>

      <md-content layout-margin>
        <md-list-item class="md-1-line" ng-repeat="item in todos">
          <img ng-src="{{item.icon}}?{{$index}}" class="md-avatar" alt="{{item.text}}" />
          <div class="md-list-item-text" layout="column">
            <h3>{{ item.text }}</h3>
          </div>
        </md-list-item>
        <hr>
        <md-button ng-click="toggleLeft()" class="md-raised">
            Закрыть
        </md-button>
      </md-content>
    </md-sidenav>
    <md-content flex layout-padding>
      <div layout="column" layout-align="top center">
        <center ng-cloak>
            <div ng-switch on="array.length">
                <div ng-switch-when="0">
                    <center>
                        <button class="buttonCreate" ui-sref="create"  value="Create">
                                <div style="width:100%; height:100%;"><img class="buttonCreate" src="images/notepadCreate.png" /><br /> Добавить заметку</div>
                        </button>
                    </center>
                </div>
                <div ng-switch-default>
                    <md-list-item class="md-3-line" ng-repeat="item in array | orderBy:sortParamArray"  ui-sref="update({note: item})">
                      <div class="md-list-item-text" layout="column">
                            <p width="75%" ng-bind="item.title | limitTo:15"></p>
                            <p width="15%" ng-bind=" viewDate(item.setDate)  |  date:'dd.MM.yyyy' "></p>
                      </div>
                    </md-list-item>

                </div>
            </div>
        </center>
      </div>
    </md-content>
  </section>
  <div>
  <md-button class="md-fab md-fab-bottom-right" aria-label="Add a category">
  
  </md-button>
    <md-button ng-cloack style="position: fixed !important;" ng-click="data.typeButton = 'Create'; addToHistory('Create')" class="md-fab md-fab-bottom-right md-primary md-hue-2" ui-sref="create">
        <i class="fa fa-plus" aria-hidden="true" ></i>
    </md-button>
  </div>
</div>
</section>