<md-bottom-sheet class="md-list md-has-header">
  <md-subheader ng-cloak>Выберете действия </md-subheader>
  <md-list ng-cloak>
    <md-list-item ng-repeat="item in items">
      <md-button
          ng-click="listItemClick($index)"
          ui-sref="{{item.src}}"
          class="md-list-item-content" >
          <i class="{{item.icon}}" aria-hidden="true"></i>
        <span class="md-inline-list-icon-label">{{ item.name }}</span>
      </md-button>

    </md-list-item>
  </md-list>
</md-bottom-sheet>