<!-- <div ng-controller="notesAddController">
    <form>
        <div class="navbar navbar-default navbar-static">
            <div class="container-fluid">
                <div class="navbar-header">

                    <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".js-navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <input type="text" hidden ng-model="MYID" />
                    <textarea id="header" ng-bind="MYnote_title" ng-model="MYnote_title" placeholder="Заголовок..."></textarea><br />
                </div>
            </div>
            <div class="collapse navbar-collapse js-navbar">
                <ul class="nav navbar-nav navbar-right">
                    <li ng-click="reminderPage(MYID,NYnote_title, MYnote_text,MYnote_set_date)">
                        <a id="drop1" class="dropdown-toggle" data-toggle="dropdown">
                            Напоминание
                        </a>
                    </li>
                    <li ng-click="addToArray(MYID); deleteChekedNotes()">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            Удалить
                        </a>
                    </li>
                </ul>
            </div>
            {{viewDate(MYnote_set_date)}}
        </div>
        <textarea id="textBody" ng-model="MYnote_text" ng-minlength="1" placeholder="Что нужно сделать..." autofocus="autofocus"></textarea><br />
        <input type="date" hidden ng-model="MYnote_set_date" placeholder="Установить дату..." />
        <div class="buttonBottom">
            <button type="submit" value="save" ng-click="updateNote(MYID, MYnote_title, MYnote_text, MYnote_set_date)">Сохранить</button>
            <button ng-click="onBackKeyDown()" value="back">Назад</button>
        </div>
        <input type="button" ng-click="deleteAllNote()" value="Delete">
    </form>
</div> -->

<section  ng-cloak>
    <div ng-controller="BottomSheetExample" layout="column" ng-cloak class="md-inline-form">
      <md-content layout-padding>
        <div ng-controller="notesController">
          <form name="noteForm" >
            <!-- section head -->
            <div>
                <!-- input for title -->
                <md-input-container style="position: relative;" flex="100" class="md-block">
                  <label>Заголовок</label>
                  <input ng-model="note.title">
                </md-input-container>
            </div>
            <!-- section notes text -->
            <md-input-container class="md-block">
              <label>Заметка</label>
              <textarea id="textBody" ng-model="note.text" ng-minlength="1" placeholder="Что нужно сделать..." md-maxlength="1000" rows="9" md-select-on-focus></textarea>
            </md-input-container>
          </form>
          <div>
            <md-button class="md-raised" type="submit" value="save" ng-click="updateNote(note.title, note.text, note.setDate, note.id)" >Сохранить</md-button>
            <md-button class="md-raised" onclick="history.back()"  value="back">Назад</md-button>
            <md-button class="md-primary md-fab md-fab-bottom-right" ng-click="showListBottomUpdate()"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></md-button>
        </div>
        </div>
        
      </md-content>
    </div>
</section>