*,html,body {
    margin:0;
    padding:0;
    border:0;
    font-size:12pt;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html{
    width:100%;
    height:99%;
    min-height:100%;
    background-color:#e6e6fa;
}

body {
    margin:0;
    background-repeat: repeat-x;
    height:100%;
    width:100%;
    /*border-top: 1px solid azure;
    background-repeat:repeat-x;
    height:99%;*/
}

.headPage{
    border:5px;
    padding:15px;
    font-size:12pt;
}


.notes{
    border-top:5px solid #d0d0d0;
    border-bottom:5px solid #d0d0d0;
    background-color:#d4d4d4;
}

h2#title{
    color:#0092b3;
}

button{
    padding:0;
    border:0;
    margin:0;
    background-color: rgba(0,0,0,0);
}

button[value=back]{
    background-color:cadetblue;
    width:49%;
    min-height:5vh;
}

button[value=save]{
    background-color:cadetblue;
    width:49%;
    min-height:5vh;
}

input[type=button]{
    color:#808080;
    width:40%;
    left:60%;
    position:absolute;
}

.buttonCreate {
    width:50%;
    height:auto;
    background-color:#e6e6fa;
}

.buttonTop{
    height:10%;
}

.buttonBottom{
    height:10%;
}

.topBar{
    color:red;
    background-color:aliceblue;
}

.title{
    float:left;
}

.buttonsTopBar{
    float:right;
}

.glyphicon{
    font-size:180%;
    color:darkblue;
}
